# Python
__pycache__/
*.py[cod]
*.sqlite3
*.pyproj

# Virtual environment
venv/
env/

# Django static & media
staticfiles/
media/

# Node / Electron
node_modules/
dist/
out/
frontend/build/

# System / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env files
.env
backend/.env

# OS-generated
desktop.ini
